*{
  background-color: #f6d7f1;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: rgb(250, 141, 247);
  text-align: center;
  margin-top: 5%;
  font-size: 70px;
}
p {
  text-align: justify;
  margin-left: 120px;
  margin-right: 120px;
  font-size: 30px;
}


img {
  width: 50%;
  margin-left: 90px;
}

.link {
  display: inline-block;
  color: rgb(167, 166, 166);
  font-size: 25px;
  float: right;
  margin-right:200px;
  margin-top: 80px;
 }

nav a:hover{
  font-weight: bold;
  color: rgb(97, 248, 248);
  transition: all .7s;
  font-size: 1.55em;
}


.container-items {
  display: grid;
  gap: 40px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  border-radius: 10px;
  width: 300px;
  height: 380px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px); 
}


.item img {
  margin-left: 60px;
  transition: all .5s;
  margin-top: 15px;
}


.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.price{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

p{
  text-align: center;
  margin-top: 0;
}
h2{
  text-align: center;
  
}

.info-product button {
  border: none;
  background: none;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}